html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: #eee;
    font-size: 18px;
    font-size: 2vh;
    font-family: sans-serif;
    line-height: 1.5;
    color: #333;
}

img {
    width: 100%;
}

hr {
    margin: 2rem 0;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

code {
    white-space: nowrap;
    background: #ddd;
    border-radius: 3px;
    padding: 1px 4px;
    color: #777;
}

    code.emp {
        background: #5d3dea;
        color: #eee;
    }

li {
    margin-top: 1rem;
}

.openers-container {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 2rem 0;
}

    .openers-container p {
        display: inline-block;
        width: 50%;
        margin: 1rem 0;
        padding: 2rem;    

        background: #5d3dea;
        color: #eee;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;

        transition: all 0.2s ease-out;
    }

    .openers-container p:hover {
        opacity: 0.7;
    }

#modal-iframe .modal-content {
    padding: 0;
    overflow: hidden;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.modal-content p:last-child {
    margin-bottom: 0;
}